* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #3b003b;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}